*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(girl.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 100px;
    color: aqua;
    mix-blend-mode: difference;
}


